# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma

/lib/generated/prisma

wa-bot/auth_info/

wa-bot/auth_info/
wa-bot/node_modules/
smart-order/node_modules/
smart-order/.next/

# Node modules
smart-order/node_modules/
wa-bot/node_modules/

# Next.js
smart-order/.next/

# WhatsApp session
wa-bot/auth_info/

# Env
*.env
.env*

smart-order/node_modules/
smart-order/.next/

wa-bot/node_modules/
wa-bot/auth_info/

.env
.env.local